---
import { LINKS } from "../config";
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";


export const getStaticPaths = async () => {

    const units = await getCollection("units");
    return units.map(unit => {
        return {
            props: {unit},
            params: {Units: unit.slug}
        }
    } )
}

const { unit } = Astro.props;
const { Content } = await unit.render();

//@ts-ignore
const link = LINKS.find((link) => link.name === "home");
---

<Base>
    <article>
        <p>
            {
                unit.data.prev === "start" ? (
                    <a href={link ? link.href : "#"}>Voltar ao início</a>
                ) : (
                    <a href={link ? link.href + unit.data.prev.slug : "#"}>Unit anterior</a>
                )
            }
        </p>
        <section>
            <Content />
        </section>
        <p class="alignRight">
            {
                unit.data.next === "end" ? (
                    <a href={link ? link.href : "#"}>Voltar ao início</a>
                ) : (
                    <a href={link ? link.href + unit.data.next.slug : "#"}>Próxima unit</a>
                )
            }
        </p>
    </article>
</Base>

<style>
    article{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }
    section{
        display: flex;
        flex-direction: column;
        margin: 2em 4rem; 
    }
    a:visited{
        color: inherit;
    }
</style>