---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import CardGrid from "../components/CardGrid.astro";

const pageTitle = "Blog";
const allPosts = await getCollection("posts");
const links = await getCollection("links");

let link = "";
links.map((l) => {
    if (l.id === "tags") link = l.data.href;
});
---

<BaseLayout pageTitle={pageTitle}>
    <h1>Blog page</h1>

    <h2>Ultimos Posts</h2>
    <CardGrid posts={allPosts} />

    <h2>Procurar por tags</h2>
    <a href={link}>procurar</a>
</BaseLayout>

<style>
    a {
        background-color: black;
        color: white;
        width: 100%;
    }
</style>
