---
import Card from "./Card.astro";
let { posts } = Astro.props;
---

<div class="container">
    {
        posts.map((post) => (
            <Card
                url={"/posts/" + post.slug}
                title={post.data.title}
                desc={post.data.description}
            />
        ))
    }
</div>

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    @media screen and (min-width: 636px) {
        .container {
            display: grid;
            display: grid;

            grid-template-columns: repeat(auto-fill, 250px);
            grid-auto-rows: auto;
            grid-gap: 1rem;
        }
    }
</style>
