---
const { content, link } = Astro.props;
---

<li>
    <a href={link ? link.href + content.slug : "#"}>
        {content.data.title}
    </a>
    <p>{content.data.desc}</p>
</li>

<style>
    li {
        padding: 1em;
        border: 1px solid;
        border-top: none;
    }
    a {
        font-size: 1.6em;
    }
    a:visited{
        color: inherit;
    }
</style>
