---
import { getCollection } from "astro:content";
import ThemeIcon from "./ThemeIcon.astro";
const links = await getCollection("links");
---

<nav class="navbar">
  <ul>
    {
      links.map((link) =>
        link.id !== "posts" ? (
          <li class="nav-links">
            <a href={link.data.href}>{link.data.name}</a>
          </li>
        ) : (
          ""
        ),
      )
    }
  </ul>
  <ThemeIcon />
</nav>

<style>
  ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }
</style>
