---
import Base from "../../layouts/Base.astro";
import CardGrid from "../../components/CardGrid.astro";
import { getEntries, getCollection } from "astro:content";
import { LINKS } from "../../config";

export const getStaticPaths = async () => {
    const trails = await getCollection("trails");
    return trails.map((trail) => ({
        params: { slug: trail.slug },
        props: { trail },
    }));
};

const { slug } = Astro.params;
const { trail } = Astro.props;
const packs = await getEntries(trail.data.ownPacks);
const link = LINKS.find((link) => link.name === "home");
---

<Base>
    <article>
        <h1>Packs from <span class="highlight">{slug}</span></h1>
        <CardGrid contents={packs} link={link} />
    </article>
</Base>

<style>
    article {
        max-width: max(80vw, 200em);
        padding: 1em;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5em;
        font-size: larger;
    }

    h1 {
        margin-bottom: 1em;
    }

    .highlight {
        border-bottom: 1px solid;
    }
</style>
